<!--The content below is only a placeholder and can be replaced.-->

<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row  style="display: flex; flex-direction: row;" >
      <mat-list-item [routerLink]="['/']">Inicio</mat-list-item>
      <mat-list-item [routerLink]="['/games']">Juegos</mat-list-item>
      <mat-list-item [routerLink]="['/studios']">Estudios</mat-list-item>
      <mat-list-item [routerLink]="['/platforms']">Plataformas</mat-list-item>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

<router-outlet></router-outlet>


