<div style="padding: 25px;">
  <h4>Prueba de componente cargando datos</h4>
  <mat-button-toggle class="" style="margin-bottom: 25px;">Añadir juego</mat-button-toggle>
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
        <mat-card *ngFor="let game of games" class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>

              </mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img height="500px" mat-card-image >
            <mat-card-content>
              <p>

              </p>
            </mat-card-content>
          </mat-card>
    </div>
</div>


